/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling with modern fonts */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#profile-info h1, #profile-info p {
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

#social-links {
    margin-top: 10px;
}

#social-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

#social-links a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.about-text {
    margin: 0;
}

#content-section {
    display: block;
}

#about-projects hr {
    height: 2px;
    background-color: #333;
}
#content-section hr {
    height: 2px;
    background-color: #333;
}
#skills hr{
    height: 2px;
    background-color: #333;
}
/* Style for project sections */
.project {
    margin: 20px 0;
}

.project h3 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.project p {
    font-size: 18px;
    color: #666;
}

.project a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0077b6;
}

/* Style for skills section */
#skills h2.center-align {
    font-size: 28px;
    text-align: center;
    color: #333;
}

/* Style for tools and software section */
#tools-software h2.center-align {
    font-size: 28px;
    text-align: center;
    color: #333;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    text-align: left;
    padding: 10px 0;
}

.progress {
    color: #fff;
    background-color: #4e4e4e;
    border-radius: 5px;
    padding: 5px 70px;
}

/* Style for filled progress bar */
.progress-filled {
    background-color: #0077b6;
    border-radius: 5px;
    padding: 5px 0;
}
